# ==============================
# Terraform
# ==============================
# Diretório de cache do Terraform
.terraform/
terraform/.terraform/

# Estado do Terraform (dados sensíveis)
terraform.tfstate
terraform.tfstate.backup

# Variáveis e arquivos de configuração
*.tfvars

# Arquivos de debug
debug.log.terraform/

# ==============================
# Geral - Python & IDE
# ==============================
*.pyc
*.pyo
*.pyd
__pycache__/

# Diretório text (não versionar)
text/*

# Ambientes virtuais
env/
venv/
.myvenv/
.venv/
*.env/

# Arquivos temporários e de IDE
*.log
*.tmp
.DS_Store
.idea/
.vscode/

# ==============================
# Django
# ==============================
*.sqlite3

# ==============================
# Next.js
# ==============================
node_modules/
.next/
out/
dist/
.env
.env.local
.env.development
.env.production

# ==============================
# Outros
# ==============================
*.local

# Logs gerais
logs
